---
// @ts-nocheck
import MainLayout from '../../layouts/MainLayout.astro';
export async function getStaticPaths() {
const url ="https://jrjsifarwxtrqahwmumf.supabase.co/rest/v1/artists";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpyanNpZmFyd3h0cnFhaHdtdW1mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzY5ODgsImV4cCI6MjA0NDIxMjk4OH0.sG07WdJgdkAQJVMgD4MAkeVJZDpztna35cNHTbFObyw"
  const artists = await fetch(url, {
      headers: {
        apikey: key,
      },
    }).then(res=>res.json())
  
  return artists.map(artist => ({
      params: { artist: artist.slug }, // [artist]=artist.slug
      props: { artist } // send al data med som props
    }))
}

const { artist } = Astro.props;
//console.log(artist) // artist.name, artist.image osv.

---

<MainLayout>
<div class="single-artist">
<h1>{artist.artistname}</h1>
<img src={"../../images/"+artist.image}/>
<p>{artist.content}</p>
<img id="spotify-image" src={"../../images/"+artist.imagespotify}/>
</div>
</MainLayout>


<style>
    .single-artist{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        margin-top: 0rem;


    }
    h1{
        color: #000;
font-family: "Konkhmer Sleokchher";
font-size: 5rem;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    p{
      
        color: #2D2240;
font-family: "Konkhmer Sleokchher";
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 2rem;
    }
    img{
        max-width: 550px;
        height: 100%;
    }
    /* This only applies to the image with the id "spotify-image" */
#spotify-image {
    max-width: 600px; 
    height: 100%;
    border-radius: 10px; 
      margin-top: 3rem;
        margin-bottom: 1rem;
}


    @media (min-width: 1200px) {
    #spotify-image {
        width: 1100px; /* Increase width for larger screens */
       
    }
}

    @media (min-width: 800px) {

img{
        width: 700px;
        height: auto;
    }
        .single-artist{
            margin: 10rem;
        }
       #spotify-image {
        width: 900px; /* Set the width to 900px for larger screens */
        height: auto;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }


    }

    /* Media query for smaller screens */
@media (max-width: 799px) {
    h1 {
        font-size: 3rem; /* Smaller font size for headings on smaller screens */
    }

    p {
        font-size: 1.2rem; /* Smaller font size for paragraphs */
    }

    #spotify-image {
        width: 90%; /* Use a percentage for responsiveness */
        max-width: 400px; /* Prevent overflow */
    }

    .single-artist {
        margin: 2rem; /* Reduce margin for smaller screens */
    }
}

/* Additional media query for very small screens (e.g., less than 500px) */
@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem; /* Further reduce font size for very small screens */
    }

    p {
        font-size: 1rem; /* Smaller font size for very small screens */
    }

    #spotify-image {
        width: 100%; /* Make image full width for very small screens */
        max-width: none; /* Remove max-width to allow full width */
    }
}





</style>

