---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Lineup from "../components/Lineup.astro";
import Ticket from "../components/Ticket.astro";

---

<MainLayout>
  <Button />
  <h1></h1>
  <Ticket></Ticket>
  <Lineup />
  
  </MainLayout>
