<footer>
    <div class="wrapper">

        <div class="logo">
            <img src="images/small.png" alt="small">
            
        </div>
        <div class="footer-icons">
            <div class="ikoner">
                <img src="images/facebook.png" alt="facebook">
                <img src="images/insta.png" alt="insta">
                
                
            </div>
            <div class="knapper">
                <img src="images/apple-btn.png" alt="">
                <img src="images/google-btn.png" alt="">
            
            </div>    
        </div>
    </div>
  <div class="container">
    <div class="column one">
        <ul>
            <li>
                <a href="https://www.cphdistortion.dk/history/">History</a>
            </li>
            <li>
                <a href="https://www.cphdistortion.dk/vaerdier-og-adfaerdskodeks/">Value</a>
            </li>
            <li>
                <a href="https://www.cphdistortion.dk/jobs/">Jobs</a>
            </li>
            <li>
                <a href="https://www.cphdistortion.dk/about/">About</a>
            </li>
        </ul>
    </div>
    <div class="column two">
        <ul class="listb">
            <li >
                <a href="https://www.cphdistortion.dk/art-atmosphere/">Open Call Art & Atmosphere</a>
            </li>
            <li>
                <a href="https://www.cphdistortion.dk/art-atmosphere/">Volunteer</a>
            </li>
            <li>
                <a href="https://www.cphdistortion.dk/partners/">Partners</a>
            </li>
        </ul>
    </div>
</div>

    </footer>

<style>
footer {

  background: url('/images/footerimg.png') no-repeat center center;
  background-size: cover; /* This will cover the entire footer */
  padding: 11px 24px 7px 15px;
  border-radius: 8px;
  height: 700px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
      margin-top: 30px;
}

.ikoner, .knapper {
    display: grid;
}
.footer-icons{
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
   
}
.footer-icons img {
  margin-bottom: 10px;
     margin-left: 25px;
}
.container {
    display: flex;
    justify-content: space-between; /* Adds space between the two divs */
    padding: 10px;
    gap: 5px;
}

.column {
    display: flex;
    flex-direction: column; /* Arrange links vertically */
    width: 45%; /* Set width of the columns */
}

.column a {
    text-decoration: none; /* Remove underline from links */
    color:white; /* Set text color */
    margin-bottom: 10px; /* Adds spacing between links */
    font-size: 16px;
}

.column a:hover {
    text-decoration: underline; /* Add underline on hover */
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 5px 5px;
    margin: 5px 5px;
}
/* .listb{
    margin-left: 10px;
} */
 
@media (max-width: 628px) {
  .wrapper {
    flex-direction: row; /* Stack the logo and icons vertically for smaller screens */
    align-items: center; /* Center align the content */
            margin-top: 30px;
  }

  .logo img {
    width: 80px; /* Reduce the logo size */
    height: auto;
  }

  .footer-icons img {
    width: 30px; /* Reduce the size of the icons */
    height: auto;
    gap: 10px;
     margin-bottom: 10px;
     margin-left: 25px;
  }

  .knapper img {
    width: 120px; /* Reduce the width of the buttons */
    height: 35px; /* Reduce the height of the buttons */
  }

  .container {
    flex-direction: column; /* Stack the columns vertically */
    gap: 10px; /* Add some space between stacked columns */
  }

  .column {
    width: 100%; /* Make the columns take full width on small screens */
    margin-bottom: -17px;
  }

  .column a {
    font-size: 14px; /* Reduce the font size of links */
    margin-bottom: 5px; /* Reduce space between links */
  }
  ul .listb{
    margin-top: -10px;

  }
  
}




</style>